<form [formGroup]="recipeForm" (ngSubmit)="save()">
  <div formGroupName="profile">
    <label>Recipe name</label>
    <input type="text" formControlName="name" />
    <label>Recipe description</label>
    <input type="text" formControlName="description" />
    <label>Estimation</label>
    <input type="text" formControlName="timeEstimation" />
  </div>

  <div *ngIf="toggle$ | async">Hello</div>

  <button (click)="addIngredient()">Add another ingredient</button>
  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
      <label>#{{ i + 1 }} Ingredient</label>
      <div formGroupName="ingredientDescription">
        <div>
          <label>Ingredient name</label>
          <input type="text" formControlName="name"/>
        </div>
        <div>
          <label>Quantity</label>
          <input type="text" formControlName="quantity" />
        </div>
      </div>
      <div>
        <label>Description</label>
        <input type="text" formControlName="description" />
      </div>
      <button (click)="removeIngredientAtIndex(i)">-</button>
    </div>
  </div>

  <button type="submit" [disabled]="!recipeForm.valid || recipeForm.pristine">Submit</button>
</form>

<pre>
  {{ recipeForm.value | json }}

  Validity: {{ recipeForm.valid | json }}
</pre>
