<div class="row mb-2">
  <div class="col-sm-4">
    <select class="form-control" [(ngModel)]="field" (ngModelChange)="initialize()">
      <option *ngFor="let field of fields" [ngValue]="field">{{field.label}}</option>
    </select>
  </div>
  <div class="col-sm-3">
    <select class="form-control" *ngIf="!!operations && operations.length > 0" [(ngModel)]="operation" (ngModelChange)="submitValues()">
      <option *ngFor="let operation of operations" [value]="operation">{{operation}}</option>
    </select>
  </div>
  <div class="col-sm-4">
    <select class="form-control" *ngIf="!!values && values.length > 0" [(ngModel)]="value" (ngModelChange)="submitValues()">
      <option *ngFor="let value of values" [value]="value">{{value}}</option>
    </select>
    <input class="form-control" type="text" *ngIf="!!values && values.length === 0" [(ngModel)]="value" (ngModelChange)="submitValues()"/>
  </div>
  <div class="col-sm-1">
      <button type="button" class="btn btn-secondary" (click)="deleteRule()">Delete</button>
  </div>
</div>
