<div class="bg-faded p-3">
  <div class="row mb-2">
    <div class="col-sm-3">
      <strong>Property</strong>
    </div>
    <div class="col-sm-3">
      <strong>Operator</strong>
    </div>
    <div class="col-sm-4">
      <strong>Value</strong>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" (click)="addRule()">Add rule</button>
    </div>
  </div>
  <form [formGroup]="form">
    <div formArrayName="conditions">
      <div *ngFor="let condition of conditions.controls; let i=index" [formGroupName]="i">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control" formControlName="property">
                <option *ngFor="let property of properties" [value]="property">{{property}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="form-control">
              <option>IS</option>
              <option>IS NOT</option>
          </select>
          </div>
          <div class="col-sm-4">
            <select class="form-control" formControlName="property">
                <option *ngFor="let value of values" [value]="value">{{value}}</option>
            </select>
          </div>
        </div>
      </div>
  </form>
</div>
