<div class="card card-outline-secondary mb-3">
  <div class="card-block">
    <div *ngIf="!edit">
      <span>{{model?.field?.label}} {{model?.operation}}</span> <strong class="text-primary">{{model?.value}}</strong>
      <button class="btn btn-link p-0 float-right" (click)="modify()" *ngIf="!edit">modify</button>
    </div>

    <form novalidate (ngSubmit)="submit()" *ngIf="edit" #ruleForm="ngForm">
      <div class="form-group">
        <label><strong>Property</strong></label>
        <select class="form-control" [(ngModel)]="model.field" (ngModelChange)="updateOperationsAndValues(true)" name="field" required>
          <option *ngFor="let field of fields" [ngValue]="field">{{field.label}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="model.field">
        <label><strong>Operation</strong></label>
        <select class="form-control" *ngIf="!!operations && operations.length > 0" [(ngModel)]="model.operation" name="operation" required>
          <option *ngFor="let operation of operations" [value]="operation">{{operation}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="model.field && model.operation">
        <label><strong>Value</strong></label>
        <select class="form-control" *ngIf="!!values && values.length > 0" [(ngModel)]="model.value" name="value" required>
          <option *ngFor="let value of values" [value]="value">{{value}}</option>
        </select>
        <input *ngIf="!!values && values.length === 0" class="form-control" type="text" [(ngModel)]="model.value" name="value" required/>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!ruleForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-danger float-right" (click)="deleteRule()">Delete</button>
    </form>
  </div>
</div>
